.App {
    text-align: center;
    color: lightslategray;
}

@font-face {
    font-family: 'PrintClearly';
    src: local('PrintClearly'), url(./fonts/PRINC___.TTF) format('ttf');
}

body {
    background-color: #151c2f;
}

.timestamp {
  font-size: 10px;
}